*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 10vh;
    width: 100%;
    background-color: #0000ff;
    text-align: center;
    line-height: 10vh;
}

.Nav_Link:link{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding-left: 2%;
    text-decoration: none;
}

.Nav_Link:hover{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding-left: 2%;
    text-decoration: underline;
}

.Nav_Link:active{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding-left: 2%;
    text-decoration: none;
    background-color: #00ffff;
}

.Nav_Link:visited{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding-left: 2%;
    text-decoration: none;
}

header{
    height: 50vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    padding-left: 2%
}

h1{
    font-size: 350%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#LeagerStudiosLogo{
    height: 50px;
    width: 50px;
}